.form-input {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  flex-flow: column;
  align-items: center;
  width: 400px;
}

.form-input label {
  /* background-color: red; */
  justify-content: flex-start;
  margin: 0 auto 0 0;
}

.name-input {
  /* margin: 0 0 0 auto; */
  justify-content: flex-end;
}