.form-input {
  width: 270px;
  border: 1px solid black;
  margin: 10px;
}

.form-input label {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 0 10px;
}

.name-input {
}

button {
  margin: 10px;
  width: 140px;
}
